:root{
	--fuenteHeading:  'Work Sans', sans-serif;
	--fuenteParrafos: 'Open Sans', sans-serif;
	--playfair: 'Playfair Display', serif;

	--primario: #C00000;
	--secundario: #D84848;
	--focus: #33DFAC;
	--blanco: #ffffff;
	--negro: #000000;
	--gris: #edede9;

}

html{
	box-sizing: border-box;
	font-size: 62.5%;

}

*, *:before, *:after {
	box-sizing: inherit;
}

body{
	font-family: var(--fuenteParrafos);
	font-size: 1.6rem;
	line-height: 2;
}

/** GLOBALES **/

.contenedor{
	max-width: 1200px;
	width: 90%;
	/**width: min(90%, 1200px); esto es lo mismo que arriba**/ 
	margin: 0 auto;
}

a{
	text-decoration: none;
}

h1,h2,h3,h4{
	font-family: var(--fuenteHeading);
	line-height: 1.2rem;
}

h1{
	font-size: 4.8rem;
}

h2{
	font-size: 4.0rem;
}

h3{
	font-size: 3.2rem;
}

h4{
	font-size: 2.8rem;
}

img{
	max-width: 100%;
}

label{
	font-family: 'Roboto Slab', serif;
}

p{
	font-family: 'Roboto Slab', serif;
}

/**Utilidades **/

.row{
	display: flex;
	flex-direction: row;
}
.active{
	color: var(--blanco);
	font-family: var(--playfair);
	background: rgb(192,0,0);
	background: linear-gradient(90deg, rgba(192,0,0,1) 30%, rgba(216,72,72,0.6194852941176471) 78%);
}

.fuente-playfair{
	font-family: var(--playfair);
}

.texto-blanco{
	color: var(--blanco);
}

.texto-primario{
	color: var(--primario);
}

.img_icono{
	width: 25px;
	height: 25px;
}

.div__linea--separador{
	width: 60%;
	height: 0px;
	margin-left: 10%;
	border-style: solid;
	border-color: var(--gris);
	border-width: 1px;
	margin-top: 40px;

}

.no-margin{
	margin: 0;
}

.no-padding{
	padding: 0;
}

.centrar-texto{
	text-align: center;
}

.row-space{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.margin__left--15{
	margin-left: 15px;
}

.margin__bot--10{
	margin-bottom: 10px;
}

.marg-left-15{
	margin-left: 15px;
}

.boton{
	display: block;
	width: 200px;
	font-family: var(--fuenteHeading);
	text-align: center;
	padding: 1rem 3rem;
	font-size: 1.8rem;
	text-transform: uppercase;
	font-weight: 700;
	margin-bottom: 1rem;
	border-radius: 50px;
}

.boton--primario{
	color: var(--blanco);
	background-color: var(--primario);
}

.boton--secundario{
	color: var(--primario);
	background-color: var(--blanco);
}


.btn {
    background-color: transparent;
    border: none;
    color: white;
    cursor: pointer;
    font-size: 12px;
    padding: 7px 10px 7px 10px;

    transition: color .3s ease;
    
}

.btn:focus{
	outline: none;
}


.btn-primary {
    background-color: var(--primario);
    border-radius: 2px;
}

.btn-block {
    width: 100%;
}

.espacio-30heig-100wid{
	width: 100%;
	height: 30px;
}

.grid-col2{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.grid-col3{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

/* HEADER */

.header{
	background-color: var(--primario);
	height: 130px;
	margin-bottom: 0px;
}

.header2{
	background-color: var(--primario);
	height: 80px;
	margin-bottom: 0px;
}

.header-contenedor{
	display: flex;
	flex-direction: column;
}

.header-informacion{
	display: flex;
	flex-direction: row;
	border-bottom: solid;
	border-color: var(--blanco);
	border-width: 2px;
}

.header-informacion__logo{
	height: 70px;
}

.header-informacion__opciones{
	display: flex;
	flex-direction: row;
	width: 40%;
	justify-content: space-between;
	text-align: center;
	margin-left: 500px;
}

.header-informacion__opciones--contacto, 
.header-informacion__opciones--login, 
.header-informacion__opciones--buscarIcon{
	margin-top: 20px;

}

.header-informacion__opciones--buscarIcon2{
	margin-top: 20px;
	left: auto;
	
}

.header-informacion__opciones--login a{
	color: var(--blanco);
}

.hi{
	margin-right: 50px;
 
}

.header-informacion__opciones--contacto__redesSociales a{
	margin-left: 25px;
}


.header-filtros{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 2fr 1fr 1fr 1fr;
	margin-top: 10px;
}

.header-filtros a {
	color: var(--blanco);
	font-size: 20px;
	text-align: center;
	font-weight: 700;
}

/*BANNER INICIO*/
.Banner_inicio{
	background-image: url(../data/img/banner_tegucigalpa_1.jpg);
	background-repeat: no-repeat;
	background-size: cover;
	height: 355px;
	width: 100%;
	text-align: center;
}

.Banner_inicio__informacion{
	padding-top: 45px;
}

.Banner_inicio__informacion h1,
.Banner_inicio__informacion h4{
	color: var(--blanco);
	font-family: 'Playfair';
	padding: 0px;
}
.Banner_inicio__informacion h1{
	font-size: 70px;
}

.Banner_inicio__informacion a{
	margin-left: 570px;
	margin-top: 20px;
}

/*BANNER CONTACTO*/
.Banner_contacto{
	background-image: radial-gradient(circle at 17.13% 52.88%, #e27600 0, #e86700 12.5%, #ec5400 25%, #ef3c00 37.5%, #f11010 50%, #f1001f 62.5%, #f1002b 75%, #ef0038 87.5%, #ec0045 65%);
	background-repeat: no-repeat;
	background-size: cover;
	height: 200px;
	width: 100%;
	text-align: center;
}

.Banner_inicio__contacto{
	padding-top: 45px;
}

.Banner_inicio__contacto h1,
.Banner_inicio__contacto h4{
	color: var(--blanco);
	font-family: 'Playfair';
	padding: 0px;
}
.Banner_inicio__contacto h1{
	font-size: 70px;
}

.Banner_inicio__contacto a{
	margin-left: 300px;
	margin-top: 20px;
}

.Formulario-contacto{
	display: grid;
  	grid-template-columns: repeat(2, 1fr);
  	grid-gap: 10px;
  	grid-auto-rows: 100px;
}

.Contactanos{
	font-size: 25px;
	font-family: 'Playfair';
	background-color: var(--blanco);
}

.MapsContacto{
	display: row;
	text-align: center;
	color: var(--primario);
	font-size: 30px;
	font-family: 'Playfair';
}

.Direccion-empresa-contacto{
	display: row;
	text-align: left;
	color: var(--primario);
	font-size: 30px;
	font-family: 'Playfair';
}

.Direccion-empresa-contacto-info{
	padding-top: 10px;
	text-align: center;
}
.Empresa-contacto-Pregunta{
	display: row;
	text-align: center;
	color: var(--primario);
	font-size: 30px;
	font-family: 'Playfair';
	border-style: solid;
	border-color: var(--blanco);
	width: 100%;
	
}

.Direccion-empresa-contenido-contacto{
	display: grid;
	grid-template-columns: 1.5fr 2fr 1.5fr 2fr;
	width: 100%;
	margin-top: 0%;
	border-style: solid;
	border-color: var(--blanco);
}

.Direccion-empresa-fondo{
	background-color: var(--blanco);
	display: flex;
	flex-direction: column;
	height: 450px;
}

.breadcrumb-area{
	text-align: center
}

.boton-enviar{
	text-decoration:none;
font-weight: 600;
font-size: 20px;
color:#333333;
padding-top:15px;
padding-bottom:15px;
padding-left:40px;
padding-right:40px;
border-radius:35px;
}

.contacto-enviar-boton{
	margin-left: transparent;
	width: 320px;
}

.boton-secundario-enviar{
	color: var(--primario);
	background-color: var(--gradient);
	
}
.ol{
	text-align : center;
	border:solid;
}
	
.li{
	color: var(--primario);
	display: inline;
	padding: 10px 16px;
	text-decoration: center;
}
	
.li2:before {
	padding: 8px;
	color: var(--primario);
	content:"/";
}
	
.nav1{
	background-color:lime;
	height : 20px;
	width : 100%;
}
	

/* BUSCAR POR FILTROS INICIO  */
.buscarXfiltros{
	background-color: var(--gris);
	height: 450px;
}

.buscarXfiltros__informacion{
	padding-top: 45px;
	text-align: center;
}


.buscarXfiltros__informacion h1{
	color: var(--primario);
	font-family: 'Playfair Display', serif;

}

.buscarXfiltros__form{
	width: 80%;
	margin-left: 10%;
}

.buscarXfiltros__formulario{
	display: grid;
	grid-template-columns: 2fr 2fr 0.5fr 0.5fr 1.5fr;
	padding-top: 20px;
}

.buscarXfiltros__formulario--campo{
	display: flex;
	flex-direction: column;
	width: 90%;
}

.buscarXfiltros__formulario--campo__input{
	height: 35px;
	text-align: center;
	border-radius: 10px;
	border-style: solid;
	border-width: 0.5px;
}

.buscarXfiltros__formulario--boton{
	margin-left: 380px;
	margin-top: 45px;
	text-align: left;
	width: 320px;
}

/*SOBRE NOSOTROS INICIO*/

.nosotros_inicio{
	display: flex;
	flex-direction: column;
}

.sobre-nosotros__contenido{
	width: 86%;
	margin-left: 7%;
	display: grid;
	grid-template-columns: 1.5fr 2fr;
	padding-top: 35px;
}

.sobre-nosotros__contenido--logo{
	height:85%;
	margin-left: 25%;
	width: 50%;
}

/* HABITACIONES Y APARTAMENTOS */

.Catalogo_inicio{
	background-color: var(--gris);
	display: flex;
	flex-direction: column;
	height: 900px;
}

.Catalogo_inicio__contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
}

.Catalogo_inicio__contenido--card{
	display: grid;
	grid-template-rows: 1fr 0.4fr 0.5fr;
	background-color: var(--blanco);
	border-radius: 10px 10px 10px 10px ;
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
	margin-bottom: 30px;

}

.Catalogo_inicio__contenido--card__img{
	border-radius: 10px 10px 0px 0px ;
	overflow: hidden;
}

.Catalogo_inicio__contenido--card__ubicacion{
	border-bottom: solid;
	border-radius: 0px 0px 0px 0px ;
	border-style: solid;
	border-width: 0.5px;
	border-color: #b6b5b5;
	text-align: center;
}

.Catalogo_inicio__contenido--card__ubicacion h4{
	position: absolute;
	margin-top: 20px;
	margin-left: 75px;
	font-family: var(--playfair);
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas{
	display: flex;
	flex-direction: column;
	border-radius: 0px 0px 10px 10px;
	border-style: solid;
	border-width: 0.5px;
	border-color: #b6b5b5;
	text-align: center;
}

.Catalogo_inicio__contenido--card__ubicacion--ubi{
	display: grid;
	grid-template-columns: 0.1fr 1fr;
	margin-left: 35px;
	margin-top: 55px;
	padding-top: 0px;
	margin-right: 15px;
	height: 25px;
	position: absolute;
}

.Catalogo_inicio__contenido--card__ubicacion--ubi p,
.caracteristicas-inicio-card__icono-nombre p{
	margin-top: -3px;
	font-weight: 600;
	font-family: var(--playfair);
	margin-left: 0px;

}


.caracteristicas-inicio-card__icono-nombre{
	display: grid;
	grid-template-columns: 0.4fr 1fr;
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas--carac,
.caracteristicas-inicio-card__icono-nombre{
	margin-left: 15px;
}

.Catalogo_inicio__contenido--card__precio-Caracteristicas--carac{
	margin-top: 15px;
}

.Catalogo_inicio__contenido--card__precio--precio{
	color: var(--primario);
	margin-left: 45px;
}

.Catalogo_inicio__contenido--card__precio--contenido{
	position: absolute;
	margin-top: 70px;
}

.Catalogo_inicio__contenido--card__precio--opciones a{
	margin-left: 15px;
}

.Catalogo_inicio__contenido--card__precio--contenido h4{
	margin-top: 8px;
	margin-right: 105px;
}

.catalogo__inicio--boton{
	margin-left: 520px;
	width: 320px;
	margin-top: 40px;
}

/* BANNER RECUENTO */

.Banner-inicio-contacto{
	background-image: url(../data/img/banner_tegucigalpa_2.jpg);
	height: 250px;
}

.Banner-inicio-contacto__info{
	display: grid;
	grid-template-columns: 2fr 1fr;
	width: 80%;
	margin-left: 10%;
	padding-top: 20px;
}

.Banner-inicio-contacto__info--aviso{
	margin-top: 45px;
}

.Banner-inicio-contacto__info--aviso h2{
	color: var(--blanco);
}

.Banner-inicio-contacto__info--aviso h4{
	color: var(--secundario);
}

.Banner-inicio-contacto__info--contacto h4{
	color: var(--blanco);
}

.informacion-Blog__boton{
	margin-top: 70px;
}

/* INICIO GALERIA DE PA LA PAGINA DE INICIO */

.Galeria-PageInicio{
	background-color: var(--blanco);
	height: 430px;
}

.Galeria-PageInicio-Contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	width: 90%;
	margin-left: 5%;
	padding-top: 50px;
}

.Galeria-PageInicio-Contenido__imgs{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	
}

.VistaPrev_Galeria_Fotos{
	width: 95%;
	overflow: hidden;
	margin-right: 5%;
}

.Galeria-PageInicio-Contenido__informacion{
	display: flex;
	flex-direction: column;
}
.Galeria-PageInicio-Contenido__informacion h2{
	color: var(--primario);
	text-align: center;
	font-family: 'Playfair Display', serif;
}

.Galeria-PageInicio-Contenido__informacion p{
	margin-left: 20px;
	font-weight: 500;
}

.GALERIA_INICIO__boton{
	margin-top: 10px;
	margin-left: 150px;
}

/* DIRECCION EMPRESA EN LA PAGINA DE INICIO */

.Direccion-empresa{
	background-color: var(--gris);
	display: flex;
	flex-direction: column;

	height: 770px;
}

.Direccion-empresa-info{
	padding-top: 50px;
	text-align: center;
}

.Direccion-empresa-info h1{
	color: var(--primario);
	font-family: var(--playfair);
}

.Direccion-empresa-info p{
	color: var(--secundario);
}

.Direccion-empresa-contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
	width: 95%;
	margin-left: 2.5%;
}

.Direccion-empresa-contenido__mapa{
	width: 95%;
	margin-right: 5%;
	overflow: hidden;
	border-style: solid;
	border-width: 2px;
	border-radius: 10px;
	border-color: var(--secundario);
}

.Direccion-empresa-contenido__info{
	display: grid;
	grid-template-columns: 1fr 1fr;
	margin-top: 45px;
}

.Direccion-empresa-contenido__casillainfo{
	width: 95%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

/*	CSS EN FOOTER */

.footer{
	background-color: var(--primario);
	height: 400px;
}

.footer-contenido{
	display: grid;
	grid-template-columns: 1.5fr 1fr;
}

.footer-contenido{
	width: 90%;
	margin-left: 5%;
}

.footer-contenido__about{
	width: 95%;
	margin-right: 5%;
}

.footer-contenido__categorias--opciones{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.footer-contenido__categorias--opciones p{
	color: var(--blanco);
}

/* CSS PARA la pagina de ALL CATALOGO */

.Banner_page__css{
	background: rgb(255,255,255);
background: linear-gradient(90deg, rgba(255,255,255,1) 0%, rgba(216,72,72,1) 49%, rgba(255,255,255,1) 100%);
	height: 200px;
	text-align: center;
}

.Banner_page__css--contenido{
	padding-top: 55px;
}

.Catalogo-page-filtros{
	width: 100%;
	height: 150px;
}

.Catalogo-page-filtros-contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 0.5fr 1fr 1fr 0.5fr 0.5fr;
}

.Catalogo-page-filtros-contenido__card,
.Catalogo-page-filtros-contenido__card--popular{
	background-color: var(--gris);
	text-align: center;
	width: 93%;
	height: 60px;
	margin-right: 7%;
	margin-top: 35px;
	border-radius: 15px;
}

.Catalogo-page-filtros-contenido__card:hover ,
.Catalogo-page-filtros-contenido__card--popular:hover{
	background: rgb(192,0,0);
	background: linear-gradient(90deg, rgba(192,0,0,1) 30%, rgba(216,72,72,0.6194852941176471) 78%);

}

.Catalogo-page-filtros-contenido__card--popular h4{
	font-family: var(--playfair);
	margin-top: 25px;
}

.Catalogo-page-filtros-contenido__card--popular:hover h4{
	font-family: var(--playfair);
	color: var(--blanco);
}

.Catalogo-page-filtros-contenido__card h4{
	margin-top: 15px;
	font-family: var(--playfair);	
}

.Catalogo-page-filtros-contenido__card:hover h4{
	margin-top: 15px;
	font-family: var(--playfair);
	color: var(--blanco);	
}

.Catalogo-page-filtros-contenido__card p{
	margin-top: -30px;
	color: var(--secundario);
	font-size: 12px;
}

.Catalogo-page-filtros-contenido__card:hover p{
	margin-top: -30px;
	color: var(--blanco);
}


.All_Catalogo-page-contenido{
	width: 90%;
	margin-left: 5%;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	background-color: var(--gris);
	margin-top: 15px;	
}

.Cambiar-pagina{
	margin-top: 50px;
	width: 300px;
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
	text-align: center;
	margin-left: 38%;
	margin-bottom: 50px;
}

.Cambiar-pagina a{
	width: 90%;
	border-radius: 5px;
	margin-left: 10%;
	background-color: var(--gris);
}

.boton_cambiar-pagina:hover {
	background-color: var(--primario);
	color: var(--blanco);
}

/* CSS PARA LA PAGINA DE INFORMACION PRODUCTO */

.Single-Producto-Contenido{
	display: grid;
	grid-template-columns: 1.5fr 0.7fr;
	width: 90%;
	margin-left: 5%;
	margin-top: 55px;
}


.Single-Producto-Contenido-col-derecha{
	background: rgb(34,193,195);
	background: linear-gradient(0deg, rgba(34,193,195,1) 0%, rgba(253,187,45,1) 100%);
	width: 90%;
	margin-left: 10%;
}

.Single-Producto-Contenido-col-derecha__form{
	background-color: var(--blanco);
	margin: 10px 10px 10px 10px;
}

.Single-Producto-col-derecha__form-campo{
	display: flex;
	flex-direction: column;
	width: 80%;
	margin-left: 10%;
}

.Single-Producto-col-derecha__form-campo label{
	color: var(--primario);
	font-family: var(--playfair);
	font-weight: 700;
}

.Single-Producto-col-derecha__form-campo input,
.Single-Producto-col-derecha__form-campo textarea{
	height: 40px;
	border-radius: 5px;
	background-color: var(--gris);
	border-width: 0px;
	margin-bottom: 25px;
}

.Single-Producto-col-derecha__form-campo textarea{
	height: 120px;
}

.Single-Producto-Contenido-col-derecha__titulo{
	margin-left: 45px;
	margin-top: 20px;
	font-family: var(--playfair);
}

.col-3{
	width: 25%;
}

.SingleP-col-izquierda-galeria__portada{
	border-radius: 50px;
	overflow: hidden;
}

.SingleP-col-izquierda-galeria__vistaprev{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr;
	margin-top: 25px;
}

.SingleP-col-izquierda-informacion__descripcion--nombre h2{
	font-family: var(--playfair);
}

.SingleP-col-izquierda-informacion__descripcion--nombre p{
	font-weight: 700;	
}

.SingleP-col-izquierda-informacion__descripcion p{
	color: gray;
	font-size: 20px;
}

.SingleP-col-izq-informacion__detallesPrecio p,
.SingleP-col-izq-informacion__detallesPropiedad p{
	color: gray;
}

.SingleP-col-izq-informacion__descripcionGeneral{
	display: grid;
	grid-template-columns: 1fr 1fr;
	grid-column-gap: 10px;
	grid-row-gap: 10px;
}

.SingleP-col-izq-informacion__descripcionGeneral--card{
	background-color: var(--gris);
	border-radius: 10px;
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	text-align: center;
	justify-content: center;
	justify-items: center;
}

.SingleP-col-izq-informacion__caracteristicasInteriores{
	display: grid;
	grid-template-columns: 1fr 0.5fr;
	width: 70%;
}

/* css para pagina de ERROR 404 */

.Erro_404_page{
	background: rgb(34,193,195);
	background: linear-gradient(90deg, rgba(34,193,195,1) 0%, rgba(192,0,0,1) 100%);
	height: 500px;
	text-align: center;
}

.Erro_404_page--info{
	padding-top: 120px;
}

.Erro_404_page--info h1,
.Erro_404_page--info h4{
	font-family: var(--playfair);
	color: var(--blanco);
}

.boton_page_error{
	margin-top: 60px;
	margin-left: 530px;
	width: 280px;
}


/*CSS LOGIN */

.Login-Page{
	display: grid;
	grid-template-columns: 2fr 1fr;
	height: 620px;
}

.Login-fondo{
	background-color: var(--primario);
}

.Login-fondo img{
	margin-left: 150px;
}

.contenedor-login-form h3{
	font-family: var(--playfair);
	color: var(--primario);
	text-align: center;
	margin-bottom: 60px;
	margin-top: 60px;
}

.contenedor-registro-form h3{
	font-family: var(--playfair);
	color: var(--primario);
	text-align: center;
	margin-bottom: 40px;
	margin-top: 40px;
}

.btn-login{
	width: 100px;
	height: 50px;
	margin-left: 170px;
}

.passOlvidada,
.passOlvidada2{
	margin-left: 45px;
	font-weight: 700;
	color: var(--secundario);
}

.passOlvidada2{
	font-weight: 500;
	margin-right: 30px;
	margin-top: 40px;
	font-size: 12px;
}

.auth__alert-error {
    background-color: red;
    border-radius: 5px;
    color: white;
    display: flex;
    justify-content: center;
    margin-bottom: 10px;
    padding: 5px
}


/*Dise;o de botones para seccion de menu*/

.secciones{
	font-size: 20px;
	border: none;
	font-family: Arial, Helvetica, sans-serif;
}

.hreditado{
	margin: 0%;
	padding: 0%;
}

.menuMargen{
	border-right:solid grey ;

}

.menuMargen2{
	padding-top: 3%;
}

.lineas{
	
	float: left
}

.cajaSvg{
	width: 100%;
}

.imagenLogos{
	width: 55px;
	height: 50px;
	margin-right: 15px;
	float: left;
}

.imagenLogos2{
	width: 30px;
	height: 50px;
	margin-right: 15px;
	float: left;
	padding: 0;
}

.botonAgregar{
	height: 40px;
	width: 150px;
	background: rgb(88, 163, 13);
	font-size: large;
	border-radius: 10px;
	color: white;
	border: #edede9;
	

}

.linkBotones{
	color:white;
	height: 40px;
	font-size: large;
	border-radius: 10px;
}

.linkBotones :hover{
	color:rgb(65, 247, 28);
	
}

.loginYRegistro{
	float: left;
	margin-right: 40px;
	font-size: 20px;
}


.padding1{
	padding: 10px;
}

/*css cartillas de publicacion de usuario logeado*/
.ContenedorCartillasPublicacion{
	background: rgba(135, 206, 250, 0.466);
	min-height: 50px;
	width:100%;
	border-radius: 7px;
	margin-bottom: 25px;
	padding: 2px;
	padding-left: 8px;
}

.col-9{
	width: 75%;
}

.infoUsuario{
	
	min-height: 50px;
	width:100%;
	border-radius: 7px;
}


.col-15{
	width: 15%;
	margin-right: 20px;
}

.col-85{
	width: 78%;
}

.rectangulo1{
	width: 100%;
	min-height:45px ;
	margin:5px ;
	padding: 5px;
	justify-content: center;
	align-items: center;
  display: flex;
}

.rectangulo2{
	width: 100%;
	min-height:45px ;
	margin:5px ;
	padding: 5px;
	
}


.informacionRegistro{
	font-size: 12px;
	margin: 0;
	font-family: Arial, Helvetica, sans-serif;
}

.col-50{
	width: 50%;
	min-height: 20px;
	padding-left: 10px;
}

.letrasEnlace{
	color: fuchsia;
}
/* OPCION DE CATEGORIA EN DIV */

.Añadir-productos__elegirCATG{
	background-color: var(--gris);
	width: 90%;
	margin-left: 5%;
	margin-top: 20px;
}

.opc_categoria_view{
	margin-top: 10px;
}

.opc_categoria_view p{
	margin-left: 15px;
	font-size: 18px;
	font-weight: 500;
	font-family: var(--playfair);
	color: var(--negro);
}

.div_opc_categorias{
	width: 90%;
}

.add-post__ubicacion--selects select{
	height: 30px;
	width: 200px;
	margin-left: 30px;
	border-radius: 3px;
	text-align: center;
}

.add-post__ubicacion--selects input{
	margin-left: 30px;
	width: 600px;
}

.div-mapa-elegriubicacion{
	margin-top: 30px;
}

.Boton-ElegirDireccionCONT, .Boton-SeleccionarPlan, .Boton-PublicarPost{
	height: 40px;
	border-radius: 5px;
	border-width: 0px;
	margin-left: 90%;
	margin-top: 30px;
	margin-bottom: 15px;
}

.Boton-SeleccionarPlan{
	margin-left: 0px;
}

.Boton-PublicarPost{
	margin-left: 15%;
	background-color: var(--secundario);
	width: 70%;
	font-size: 18px;
	color: var(--blanco);
}

.catg-seleccionada{
	margin-left: 50px;
}

.descripcion_grid--2c{
	display: grid;
	grid-template-columns: 2fr 1fr;
}

/* CSS PARA FORMULARIO DE PUBLICACION*/

.descripcion_grid__col1, .descripcion_grid__col2{
	display: flex;
	flex-direction: column;
	background-color: var(--blanco);
	width: 90%;
	margin-left: 5%;
	margin-top: 30px;
}

.descripcion_grid__col2{
	background-color: var(--blanco);
}

.descripcion_grid__col1 h4, .seleccionar-plan-post h4{
	color: var(--primario);
	font-family: var(--playfair);
	margin-left: 20px;
}

.div_tituloDescrip{
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
}

.descripcion_grid--input, .descripcion_grid--textarea, .descripcion_grid--select,
.descripcion_grid__input{
	 height: 35px;
	 width: 90%;
	margin-top: 10px;
	margin-bottom: 10px;
	margin-left: 5%;
	font-size: 15px;	
}

.descripcion_grid--input:hover, .descripcion_grid--textarea:hover, 
.descripcion_grid--select:hover, .descripcion_grid__input:hover{
	border-color: var(--primario);
}

.descripcion_grid--textarea{
	height: 85px;
}

.descripcion_grid--select{
	width: 170px;
}

.descripcion_grid__input{
	width: 200px;
}

.descripcion_grid--multipleSelect{
	display: grid;
	grid-template-columns: 1fr 1fr;
}

.descripcion_grid--multipleSelectDIV{
	margin-left: 35px;
}

.descripcion_grid__col2--imgGrande{
	margin-left: 70px;
	margin-top: 20px;
	height: 90px;
	width: 90%;
}

.descripcion_grid__col2--imgspeque{
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	margin-top: 50px;
}

.descripcion_grid__col2--imgsp{
	width: 70%;
	height: 60px;
	margin-left: 15%;
	margin-bottom: 15px;
	border-width: 1px;
	border-style: solid;
	border-color: black;
	border-radius: 5px;
}

.icon-agregar-img{
	margin-left: 10px;
	margin-top: 10px;
}

.seleccionar-plan-post{
	background-color: var(--blanco);
	width: 90%;
	margin-left: 5%;
	margin-top: 40px;
	margin-bottom: 20px;

	display: grid;
	grid-template-columns: 2fr 1fr;
}

.card_selectPlan{
	background-color: var(--gris);
	border-style: solid;
	border-radius: 10px;
	border-width: 1px;
	border-color: gray;
	width: 90%;
	margin-left: 5%;
}

.card_selectPlan h4{
	margin-left: -10px;
}

.card_selectPlan h5{
	font-weight: 700;
	font-size: 18px;
}

.card_selectPlan--dias{
	background-color: var(--secundario);
}

.card_selectPlan--dias p{
	font-weight: 700;
	color: var(--blanco);
	margin-top: -20px;
}

.seleccionar-plan-post__col1{
	display: flex;
	flex-direction: column;
}


.check-card {
	list-style: none;
	margin: 40px auto;
  width: 320px;
}
.check-card .check-card-item {
	position: relative;
	width: 100%;
	margin: 0 1% 15px;
	font-size: 16px;
	background: var(--primario);
	overflow: hidden;
}
.check-card li label {
	display: block;
	position: absolute;
	height: 300px;
	width: 100%;
	z-index: 100;
	cursor: pointer;
}
.check-card .check-card-body {
	height: 300px;
	color: #fff;
	z-index: 2;
	position: relative;
}
.check-card .check-card-body-in {
	padding: 40px 20px 20px;

}
.check-card .check-card-title {
	font-family: 'Oswald', sans-serif;
	font-size: 32px;
	margin-bottom: 5px;
}
.check-card .check-card-bg,
.check-card .check-card-toggle {
	position: relative;
	background: #2e2d37;
	width: 36px;
	height: 36px;
	top: 10px;
	left: 10px;
	-webkit-border-radius: 50%;
	border-radius: 50%;
}
.check-card .check-card-bg {
	position: absolute;
	background: #2e2d37;
	-webkit-transition: all .3s ease-out;
	transition: all .3s ease-out;
	-webkit-transform:scale(1);
	transform:scale(1);
	z-index: 0;
}
.check-card .check-card-toggle span {
	position: absolute;
	display: block;
	width: 20px;
	margin-left: -10px;
	height: 1px;
	top: 50%;
	left: 50%;
	background: #fff;
	-webkit-transition: all .4s ease-out;
	transition: all .4s ease-out;

	-webkit-transform: rotate(-270deg);
	transform: rotate(-270deg);
}
.check-card .check-card-toggle span:first-child {
	-webkit-transform: rotate(180deg);
	transform: rotate(180deg);
}
.check-card .check-card-cancel {
	font-size: 18px;
	border-top: solid 1px #fff;
	border-bottom: solid 1px #fff;
	padding: 10px 0 7px;
	text-align: center;
	position: absolute;
	bottom: -50px;
	margin: 0 7%;
	width: 86%;
	-webkit-transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
	transition: all .3s cubic-bezier(0.5, -0.8, 0.5, 1.8);
}
.check-card input[type=checkbox] {
	display: none;
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-toggle span:first-child {
	-webkit-transform: rotate(0deg);
	transform: rotate(0deg);
}
.check-card input[type=checkbox]:checked ~ .check-card-bg {
	-webkit-transform:scale(25);
	transform:scale(25);
}
.check-card input[type=checkbox]:checked ~ .check-card-body .check-card-cancel {
	bottom: 30px;
}

.resumen-pagpost{
	width: 90%;
	margin-left: 5%;
}

.marginservicios{
	padding-top: 450px;
	height: 150px;
}

.resumen-pagpost__total{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	font-size: 20px;
	margin-bottom: -30px;
}

.resumen-pagpost__tde{
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	margin-bottom: -30px;
}

.resumen-pagpost__total--cant{
	font-weight: 700;
}

.resumen-pagpost__aviso{
	text-align: center;
	color: gray;
}

.artboard {
	 display: flex;
	 flex-flow: row;
	 align-items: center;
	 justify-content: center;

	 height: 100%;
	 position: relative;
}
 
 .card {
	 flex: initial;
	 position: relative;
	 height: 100px;
	 width: 90%;
	 margin-left: 5%;
}
 .card__side {
	 height:450px;
	 transition: all 0.8s ease;
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 -webkit-backface-visibility: hidden;
	/* We don't want to see the back part of the element. */
	 backface-visibility: hidden;
	/* We don't want to see the back part of the element. */
	 border-radius: 3px;
	 overflow: hidden;
	/* The image is overflowing the parent. */
	 box-shadow: 0 2rem 6rem rgba(0, 0, 0, 0.15);
}
 .card__side--front {
	 background-image: linear-gradient(to right bottom, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.7)), url(https://iveconsultores.com/wp-content/uploads/2019/02/foto-mant-prevent-definitivo.jpg);
}
 .card__side--back {
	 background-color: #fff;
	 transform: rotateY(180deg);
}
 .card:hover .card__side--back {
	 transform: rotateY(0);
}
 .card:hover .card__side--front {
	 transform: rotateY(-180deg);
}
 .card__theme {
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 top: 54%;
	 width: 90%;
	 text-align: center;
}
 .card__theme-box {
	 color: #fff;
	 margin-bottom: 8rem;
}
 .card__subject {
	 font-family: "Inconsolata", monospace;
	 letter-spacing: 0.8rem;
	 font-size: 1.6rem;
	 text-transform: uppercase;
	 margin-bottom: 1rem;
}
 .card__title {
	 font-family: "VT323", monospace;
	 text-transform: uppercase;
	 font-size: 6rem;
	 font-weight: 100;
}
 .card__cover {
	 position: relative;
	 background-size: cover;
	 height: 14rem;
	 -webkit-clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	 clip-path: polygon(0 0, 100% 0, 100% 85%, 0 100%);
	 border-top-left-radius: 3px;
	 border-top-right-radius: 3px;
	 background-image: linear-gradient(to top right, rgba(30, 11, 54, 0.65), rgba(202, 55, 130, 0.65)), url(https://iveconsultores.com/wp-content/uploads/2019/02/foto-mant-prevent-definitivo.jpg);
}
 .card__heading {
	 text-align: center;
	 color: #fff;
	 position: absolute;
	 top: 50%;
	 left: 50%;
	 transform: translate(-50%, -50%);
	 width: 75%;
}
 .card__heading-span {
	 font-family: "VT323", monospace;
	 font-size: 4.2rem;
	 font-weight: 300;
	 text-transform: uppercase;
	 
	 color: #fff;
}
 .card__details {
	 font-family: "Inconsolata", monospace;
	
}
 .card__details ul {
	 list-style: none;
	 width: 80%;
	 margin: 0 auto;
}
 .card__details ul li {
	 text-align: center;
	 font-size: 1.8rem;
	
}
 .card__details ul li:not(:last-child) {
	 border-bottom: 1px solid #eee;
}



#container{
	box-shadow: 0 15px 30px 1px rgba(128, 128, 128, 0.31);
	background: rgba(255, 255, 255, 0.90);
	text-align: center;
	border-radius: 5px;
	overflow: hidden;
	margin: 5em auto;
	height: 350px;
	width: 700px;
	
}



/* 	Product details  */
.product-details {
	position: relative;
	text-align: left;
	overflow: hidden;
	padding: 30px;
	height: 100%;
	float: left;
	width: 40%;

}

/* 	Product Name */
#container .product-details h1{
	font-family: 'Old Standard TT', serif;
	display: inline-block;
	position: relative;
	font-size: 34px;
	color: #344055;
	margin: 0;
	
}

#container .product-details h1:before{
	position: absolute;
	content: '';
	right: 0%; 
	top: 0%;
	transform: translate(25px, -15px);
	font-family: 'Farsan', cursive;
	display: inline-block;
	background: #FFA69E;
	border-radius: 5px;
	font-size: 14px;
	padding: 5px;
	color: #FFF;
	margin: 0;
	animation: chan-sh 6s ease infinite;

}


@keyframes chan-sh {
	from  {content: 'free shipping';}
	to  {content: 'New';}
	
}

/*Product Rating  */
.hint-star {
	display: inline-block;
	margin-left: 0.5em;
	color: gold;
	width: 50%;
}


/* The most important information about the product */
#container .product-details > p {
	font-family: 'Farsan', cursive;
	text-align: center;
	font-size: 20px;
	color: #7d7d7d;
	
}

/* control */

.control{
	position: absolute;
	bottom: 20%;
	left: 22.8%;
	
}
/* the Button */
.btn {
	transform: translateY(0px);
	transition: 0.3s linear;
	background: #49C608;
	border-radius: 5px;
  position: relative;
  overflow: hidden;
	cursor: pointer;
	outline: none;
	border: none;
	color: #eee;
	padding: 0;
	margin: 0;
	
}

.btn:hover{transform: translateY(-4px);}

.btn span {
	font-family: 'Farsan', cursive;
	transition: transform 0.3s;
	display: inline-block;
  padding: 10px 20px;
	font-size: 1.2em;
	margin:0;
	
}
/* shopping cart icon */
.btn .price, .shopping-cart{
	background: #333;
	border: 0;
	margin: 0;
}

.btn .price {
	transform: translateX(-10%); padding-right: 15px;
}

/* the Icon */
.btn .shopping-cart {
	transform: translateX(-100%);
  position: absolute;
	background: #333;
	z-index: 1;
  left: 0;
  top: 0;
}

/* buy */
.btn .buy {z-index: 3; font-weight: bolder;}

.btn:hover .price {transform: translateX(-110%);}

.btn:hover .shopping-cart {transform: translateX(0%);}



/* product image  */
.product-image {
	transition: all 0.3s ease-out;
	display: inline-block;
	position: relative;
	overflow: hidden;
	height: 100%;
	float: right;
	width: 50%;
	display: inline-block;
}

#container img {width: 100%;height: 100%;}

.info {
    background: rgba(27, 26, 26, 0.9);
    font-family: 'Farsan', cursive;
    transition: all 0.3s ease-out;
    transform: translateX(-100%);
    position: absolute;
    line-height: 1.9;
    text-align: left;
    font-size: 120%;
    cursor: no-drop;
    color: #FFF;
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
}

.info h2 {text-align: center}
.product-image:hover .info{transform: translateX(0);}

.info ul li{transition: 0.3s ease;}
.info ul li:hover{transform: translateX(50px) scale(1.3);}

.product-image:hover img {transition: all 0.3s ease-out;}
.product-image:hover img {transform: scale(1.2, 1.2);}

/*BLOG*/
.grid-col21{
	display: grid;
	grid-template-columns: 2fr 1fr;
	background-color: var(--gris);
}

.blog-box{
	width: 90%;
	margin-left: 5%;
	display: flex;
	flex-direction: column;
	background-color: var(--blanco);
	margin-top: 50px;
}

.title-blog h4{
	font-family: var(--playfair);
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}
.title-blog p{
	font-family: var(--fuenteParrafos);
	text-align: center;
	margin-right: 10px;
	margin-left: 10px;
}

.blog-sugerencias{
	background-color: var(--blanco);
	width: 80%;
	margin-left: 10%;
	margin-top: 50px;
	display: flex;
	flex-direction: column;
}

.btn-publicarBlog{
	width: 80%;
	margin-left: 10%;
	margin-top: 25px;
	height: 30px;
	font-family: var(--fuenteHeading);
	font-size: 20px;
	border-radius: 5px;
}

.vista-popular__card{
	display: flex;
	flex-direction: column;
	width: 90%;
	margin-left: 5%;
	background-color: var(--gris);
	text-align: center;
	font-family: var(--fuenteParrafos);
	color: var(--primario);
	margin-top: 20px;
}

.popular-titulo{
	font-family: var(--playfair);
	font-size: 35px;
	text-align: center;
	font-weight: 700;
	color: var(--primario);
}

.blogind-contenido{
	width: 90%;
	margin-left: 5%;
	background-color: var(--blanco);
	margin-top: 50px;
}

.blogind-contenido h5, .blogind-contenido h4, .blogind-contenido p{
	margin-left: 25px;
	margin-right: 25px;
}

.blogind-contenido h4{
	font-family: var(--playfair);
	font-size: 35px;
	font-weight: 700;
	color: var(--primario);
}

.blogind-comentarios{
	margin-top: 60px;
}

.btn-comentarblog{
	width: 30%;
	margin-left: 60%;
}